@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <p class="nav-link text-dark">Hello @User.Identity?.Name!</p>
        </li>

        if (User.IsInRole("moderator"))
        {
            <li>
                <form asp-controller="Moderator" asp-action="ModeratorPage">
                    <button type="submit" class="nav-link btn btn-link text-dark">Moderator</button>
                </form>
            </li>
        }
        else if (User.IsInRole("owner")) 
        {
            <li>
                <form asp-controller="Moderator" asp-action="ModeratorPage">
                    <button type="submit" class="nav-link btn btn-link text-dark">Moderator</button>
                </form>
            </li>
        }

        <li class="nav-item">
            <form asp-controller="Authentication" asp-action="SignOut" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Register" class="btn btn-primary">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="SignIn" class="btn btn-primary">Log in</a>
        </li>
    }
</ul>
