<ul class="navbar-nav ms-auto">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item align-middle m-0">
            <p class="nav-link bg-transparent border-0 align-middle m-0">Hello @User.Identity?.Name!</p>
        </li>

        if (User.IsInRole("editor"))
        {
            <li class="nav-item">
                <form asp-controller="Moderator" asp-action="ModeratorDashboard" class="nav-link border-0 p-1">
                    <button type="submit" class="nav-link bg-transparent border-0 p-1">Модераторски панел</button>
                </form>
            </li>
        }
        else if (User.IsInRole("owner")) 
        {
            <li class="nav-item">
                <form asp-controller="Administrator" asp-action="AdminDashboard" class="nav-link p-1">
                    <button type="submit" class="nav-link bg-transparent border-0 p-1">Административен панел</button>
                </form>
            </li>
        }

        <li class="nav-item align-middle">
            <form asp-controller="Authentication" asp-action="SignOut" method="post" class="align-middle">
                <button type="submit" class="nav-link btn btn-link align-middle">Излез</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Authentication" asp-action="Register">Регистрация</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Authentication" asp-action="SignIn">Вход</a>
        </li>
    }
</ul>
