@{
    ViewData["Title"] = "Forgot password";
}

<form asp-action="ForgotPassword" asp-controller="Authentication" class="align-content-center align-items-center">
    <label>Email:</label>
    <input class="form-control" type="email" name="email" placeholder="Enter your email" required /> <br/>

    <button class="btn btn-primary" type="submit">Send login link</button>
</form>
<br />


@if (ViewBag.Message != null)
{
    <p style="color:green;">@ViewBag.Message</p>
}