@{
    ViewData["Title"] = "Forgot password";
}

<main>
    <section class="py-5 m-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="card shadow border-0 rounded-lg p-4">
                        <h2 class="text-center mb-4">ЗАБРАВЕНА ПАРОЛА</h2>
                        <form asp-action="ForgotPassword" asp-controller="Authentication" class="align-content-center align-items-center">
                            <label>Имейл:</label>
                            <input class="form-control" type="email" name="email" placeholder="имейл..." required /> 
                            @if (ViewBag.Message != null)
                            {
                                <p class="p-1" style="color:green;">@ViewBag.Message</p>
                            } <br />

                            <button class="btn btn-primary" type="submit">Изпрати нулиращ имейл</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>