/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* General Styles */
body {
    font-family: 'Jost', sans-serif;
    width: 100%;
    max-width: 100vw;
    background-color: #d8c0a8;
    color: #484848;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: max-content;
    overflow-y: auto;
}

/* Navbar Styles */
.navbar {
    background-color: #001830 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f0c030 !important;
}

.navbar-nav .nav-link {
    color: #d8c0a8 !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f04860 !important;
}

/* Buttons */
.btn-primary {
    background-color: #f0c030;
    border-color: #f0c030;
    color: #001830;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #f04860;
    border-color: #f04860;
    color: #ffffff;
}

/* Hero Section */
#hero {
    background-image: linear-gradient(rgba(0, 24, 48, 0.7), rgba(0, 24, 48, 0.7)), url('assets/images/hero-bg.jpg');
    color: white;
}

#hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

/* Events list */
.col-md-4 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/* Cards */
.card {
    width: 100%;
    height: 80%;
    background-color: #c0a890;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Search Section */
#search {
    background-color: #d87848;
}

#search form input {
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
}

#search form button {
    background-color: #f0c030;
    border: none;
    border-radius: 5px;
}

#search form button:hover {
    background-color: #f04860;
}

/* Footer */
footer {
    background-color: #001830;
    color: #d8c0a8;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #f0c030;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #f04860;
}
