@{
    ViewData["Title"] = "About";
}

<main>
    <section id="about" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">ЗА НАС</h2>
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="~/images/karina.jpg" class="img-fluid rounded-circle mb-3" alt="Karina Poptrajkova" style="max-width: 200px;">
                    <h4>Карина Поптрайкова</h4>
                    <p>ППМГ "Академик Никола Обрешков" гр. Бургас</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="~/images/yanislav.jpg" class="img-fluid rounded-circle mb-3" alt="Yanislav Baev" style="max-width: 200px;">
                    <h4>Янислав Баев</h4>
                    <p>ППМГ "Академик Никола Обрешков" гр. Бургас</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <h3>Защо създадохме този проект?</h3>
                    <p>Решихме да създадем YouthVoice, защото младите хора често не разполагат с достатъчно информация за различните младежки организации и техните компетенции и инициативи. За това решихме, че платформа, чрез която да изразяват мнението си и да участват в ученическото самоуправление, ще бъде оценена. Чрез „Гласът на младите“ искаме да улесним комуникацията между ученици и младежки организации, за да могат те по-ефективно да решават важни социални въпроси.</p>
                </div>
            </div>
        </div>
    </section> 
</main>
<br /><br />