@{
    ViewData["Title"] = "Terms and Conditions";
}

<br /><br /><br />
<main class="m-3">
    <h2>Общи условия</h2> <br />

    <div class="card border-0 mb-4">
        <div class="card-body">
            <h2 class="text-primary">1. Въведение</h2>
            <p>Добре дошли в "YouthVoice". Чрез използването на нашето приложение вие се съгласявате с тези Общи условия. Ако не сте съгласни, моля, не използвайте платформата.</p>
        </div>
    </div>

    <div class="card border-0 mb-4">
        <div class="card-body">
            <h2 class="text-primary">2. Регистрация и акаунт</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">Потребителите трябва да предоставят точна и пълна информация при регистрация.</li>
                <li class="list-group-item">Забранено е споделянето на акаунти с други лица.</li>
                <li class="list-group-item">Потребителят е отговорен за сигурността на своя акаунт.</li>
            </ul>
        </div>
    </div>

    <div class="card border-0 mb-4">
        <div class="card-body">
            <h2 class="text-primary">3. Използване на платформата</h2>
            <strong>На потребителите е забранено:</strong>
            <ul class="list-group mb-3">
                <li class="list-group-item">Публикуване на съдържание, което е обидно, незаконно или подвеждащо.</li>
                <li class="list-group-item">Злоупотреба с функционалностите на платформата.</li>
                <li class="list-group-item">Нарушаване на правата на други потребители.</li>
            </ul>
        </div>
    </div>

    <div class="card border-0 mb-4">
        <div class="card-body">
            <h2 class="text-primary">4. Организиране на събития</h2>
            <strong>Организаторите на събития са отговорни за:</strong>
            <ul class="list-group mb-3">
                <li class="list-group-item">Предоставяне на достоверна информация за събитията.</li>
                <li class="list-group-item">Спазване на всички законови изисквания.</li>
                <li class="list-group-item">Адекватна комуникация с участниците.</li>
            </ul>
        </div>
    </div>

    <div class="card border-0 mb-4">
        <div class="card-body">
            <h2 class="text-primary">5. Поверителност и сигурност</h2>
            <p>Ние защитаваме личните данни на потребителите в съответствие с нашата Политика за поверителност.</p>
        </div>
    </div>

    <div class="card border-0 mb-4">
        <div class="card-body">
            <h2 class="text-primary">6. Промени в Общите условия</h2>
            <p>Ние си запазваме правото да актуализираме тези Общи условия, като всяка промяна ще бъде публикувана на нашия уебсайт.</p>
        </div>
    </div>

    <div class="card border-0 mb-4">
        <div class="card-body">
            <h2 class="text-primary">7. Контакт</h2>
            <p>Ако имате въпроси или нужда от допълнителна информация, свържете се с нас на <a href="mailto:youthvoice.burgas@gmail.com"><strong>youthvoice.burgas@gmail.com</strong></a>.</p>
        </div>
    </div>
</main>